# Python
__pycache__/
*.pyc
*.pyo
.env
*.db
*.db-journal
fonts/

# Node
frontend/node_modules/
frontend/dist/
frontend/.env.local
node_modules/

# Misc
.DS_Store
*.log
frontend/vite.config.js.timestamp*
